.map-info-container{
    position: fixed;
    align-self: auto;
    z-index: 1001;
    width: 100%;
    bottom: 0%;
    background-color: white;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 0px 5px #0006;
    transition: 0.15s ease-in;
    display: grid;
}

.side-data{
    margin: 4mm;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    gap: 3mm;
}

.side-container{
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 2mm;
}

.side-icon{
    aspect-ratio: 1;
    width: 10vw;
    height: auto;
    border-radius: 100mm;
    padding: 2mm;
    background-color: #fff;
    box-shadow: 0px 0px 10px #0005;
}

.side-status{
    font-family: 'Poppins', sans-serif;
    word-wrap: normal;
    max-width: 30vw;
}

.place-address{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    font-family: 'Roboto Slab', serif;
    margin: 0px;
    color: #444;
}