/*Map attribution is z-index 1000*/
.map-filter-menu-container{
    position: fixed;
    align-self: auto;
    z-index: 1001;
    width: 100%;
    bottom: 0%;
    background-color: white;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 0px 5px #0006;
    transition: 0.15s ease-in;
    display: grid;
}

.leaflet-container{
    cursor: crosshair !important; 
}

.menu-container{
    display: grid;
    grid-template-columns: 2% 96% 2%;
}

.menu-content{
    align-self: auto;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    display: flex;
    flex-direction: row;
    gap: 2mm;
    align-items: center;
    overflow-y: auto;
    margin-bottom: 2mm;
}

.bottom-filters-container{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    display: flex;
    gap: 2mm;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-items: center;
    margin-bottom: 2mm;
}

.bottom-filters-container>button{
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    min-width: 48px;
    min-height: 48px;
    max-width: 20%;
}

.filter-enabled{
    animation: filter-enable 250ms ease-in-out 0ms 1;
}

.filter-button:not(.filter-enabled){
    animation: filter-disable 250ms ease-in-out 0ms 1;
    color: #fff
}

.filter-button:not(.filter-enabled)>svg{
    color: #fff
}


.filter-button{
    width: 100%;
    border-radius: 100pt;
    font-family: 'Poppins', sans-serif;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 4.4vw;
    text-align: center;
    white-space: nowrap;
    border: 5px solid #ffffff80;
    transition: 0.10s ease-in;
}

@keyframes filter-enable {
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(0.88);
    }

    70%{
        transform: scale(0.88);
    }

    100%{
        transform: scale(1);
    }
}

@keyframes filter-disable {
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(0.88);
    }

    70%{
        transform: scale(0.88);
    }

    100%{
        transform: scale(1);
    }
}
