@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;600&family=Roboto+Condensed:wght@400;600;700&family=Roboto+Slab&display=swap');

.App {
  text-align: center;
}

.header-nav{
  transition-duration: 120ms;
}

@media (prefers-color-scheme: dark) {
  body{
    background-color: #004891;
  }
}

@media (prefers-color-scheme: light) {
  body{
    background-color: #0066CC;
  }
}